.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img, .woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.woocommerce .woocommerce-result-count {
	margin: 0;
/*	font-size: 31px;
 	font-family: "Bad Script", sans-serif;
	text-transform: uppercase;
*/
	color: #000000;
	letter-spacing: 1px;
	line-height: 34px;
}

.archive.woocommerce .products {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #e1e1e1;
}

.woocommerce .sidebar-holder {
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	padding-top: 0;
}

#searchform > div {
	overflow: hidden;
}

.woocommerce #secondary aside:first-child h1 {
	margin-top: 0;
}

.woocommerce ul.products li.product h3 {
	font-family: "ProximaBold", sans-serif;
	color: #000;
	font-size: 14px;
	padding-bottom: 5px;
}

.woocommerce ul.products li.product .price, .woocommerce ul.product_list_widget li .amount, .woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price {
	font-family: "ProximaBold", sans-serif;
	color: #000;
	font-size: 18px;
}

.woocommerce ul.products li.product .price del, .woocommerce ul.product_list_widget li del .amount {
	font-size: 14px;
	color: #858585;
}

.woocommerce ul.products li.product .price ins, .woocommerce ul.product_list_widget li ins {
	text-decoration: none;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {
	width: 100%;
	-webkit-box-shadow: none;
	background: transparent;
	border: 1px solid #c8bfc6;
	box-shadow: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #000;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 12px;
	-webkit-text-shadow: none !important;
	text-shadow: none !important;
}

.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {
	margin: 10px;
}

.woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button {
	position: relative;
}

.woocommerce ul.products li.product a.add_to_cart_button:after, .woocommerce-page ul.products li.product a.add_to_cart_button:after {
	font-family: 'FontAwesome';
	content: '\f067';
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -4px;
}

.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
	color: #fff;
	background: #f99d28;
}

.screen-reader-text {
	display: none;
}

.woocommerce a.button.added:before, .woocommerce button.button.added:before, .woocommerce input.button.added:before, .woocommerce #respond input#submit.added:before, .woocommerce #content input.button.added:before, .woocommerce-page a.button.added:before, .woocommerce-page button.button.added:before, .woocommerce-page input.button.added:before, .woocommerce-page #respond input#submit.added:before, .woocommerce-page #content input.button.added:before {
	top: 12px;
	right: 25px;
}

.woocommerce span.onsale, .woocommerce-page span.onsale {
	background: #f99d28;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-text-shadow: none;
	text-shadow: none;
	width: 50px;
	height: 50px;
	padding: 0;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

.widget.woocommerce:not(.widget_product_categories) ul li {
	background-image: none;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li span {
	padding: 10px 15px;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
	float: left;
	margin-left: 0;
	margin-right: 15px;
	width: 100px;
}

.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating, .woocommerce-page ul.cart_list li .star-rating, .woocommerce-page ul.product_list_widget li .star-rating {
	display: none;
}

.widget_price_filter form {
	overflow: hidden;
	padding-top: 10px;
}

.woocommerce-ordering {
	position: relative;
}

.woocommerce-ordering:before {
	font-family: 'FontAwesome';
	content: '\f107';
	position: absolute;
	top: 9px;
	right: 10px;
}

.woocommerce p.buttons a {
	margin-top: 10px;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	width: 38%;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	width: 58%;
}

.summary.entry-summary .woocommerce-product-rating {
	display: none;
}

.entry-title {
	font-family: 'ProximaBold' sans-serif;
	font-size: 35px;
	margin-bottom: 5px;
}

.summary.entry-summary p {
	font-family: 'ProximaBold' sans-serif;
	font-size: 14px;
	line-height: 1.6;
}

.woocommerce-tabs {
	margin-top: 40px;
}

.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus {
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	background: transparent;
	border: 1px solid #000;
	color: #000;
	height: 50%;
}

.woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus {
	border-bottom: none;
}

.woocommerce .quantity .plus:hover, .woocommerce .quantity .minus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce #content .quantity .minus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce-page #content .quantity .plus:hover, .woocommerce-page #content .quantity .minus:hover {
	background: transparent;
}

.woocommerce .summary .single_add_to_cart_button {
	width: auto;
	padding: 10px;
	background: transparent !important;
	border: 1px solid #000 !important;
	color: #000;
	border-radius: none;
	-webkit-text-shadow: none !important;
	text-shadow: none !important;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.woocommerce .summary .cart {
	margin-top: 20px;
}

.woocommerce .summary .single_add_to_cart_button:hover {
	background-color: #000 !important;
	color: #fff !important;
}

.woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus {
	border-top: none;
}

.woocommerce .summary .product_meta {
	font-family: 'ProximaBold', sans-serif;
}

.woocommerce .summary .product_meta a {
	text-transform: lowercase;
	color: #000;
}

.woocommerce .summary .product_meta a:hover {
	color: #f99d28;
}

.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	border-color: #000;
	height: 36px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	background: transparent;
	border-color: #cccccc;
	border-radius: 0;
	text-shadow: none;
	-webkit-text-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-right: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	padding-left: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce .woocommerce-message:before, .woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before {
	content: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
	color: #000;
	background: #cccccc;
}

.woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info {
	border-top-color: #ccc !important;
	box-shadow: none;
	border: 1px solid #e1e1e1;
	border-top-width: 2px;
	-webkit-box-shadow: none;
	padding: 1em !important;
	font-family: 'ProximaBold', sans-serif;
	background: transparent !important;
}

.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
	width: 100px;
}

.woocommerce .cart-collaterals .cart_totals table td, .woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table th {
	padding: 10px !important;
}

.woocommerce .cart-collaterals .cart_totals table {
	border-top: 1px solid #e1e1e1;
}

.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
	width: 100%;
}

.woocommerce table.cart input, .woocommerce #content table.cart input, .woocommerce-page table.cart input, .woocommerce-page #content table.cart input {
	margin: 5px 0;
}

.woocommerce div.product form.cart .variations td, .woocommerce #content div.product form.cart .variations td, .woocommerce-page div.product form.cart .variations td, .woocommerce-page #content div.product form.cart .variations td {
  vertical-align: middle;
  padding: 15px;
}

.reset_variations {
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  color: #000;
}

.single_variation_wrap {
  overflow: hidden;
  clear: both;
  padding: 10px 0;
  padding-top: 7px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.single_variation {
  padding-bottom: 5px;
}

.woocommerce #content div.product form.cart .button, .woocommerce div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-page div.product form.cart .button {
	color: #000;
}
