<span style='color: #000' title='Frames'>   380</span><span style='color: #009' title='Memory'>  67840.00 KB</span><span style='color: #900' title='Time'>    283.71 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />